<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vandream.mall.business.dao.delivery.DeliveryReturnDAO" >
  <resultMap id="BaseResultMap" type="com.vandream.mall.business.dto.delivery.DeliveryReturnDTO" >
    <id column="DELIVERY_RETURN_ID" property="deliveryReturnId" jdbcType="CHAR" />
    <result column="DELIVERY_RETURNT_CODE" property="deliveryReturntCode" jdbcType="VARCHAR" />
    <result column="DELIVERY_LINE_ID" property="deliveryLineId" jdbcType="CHAR" />
    <result column="DELIVERY_HEAD_ID" property="deliveryHeadId" jdbcType="CHAR" />
    <result column="RETURN_TYPE" property="returnType" jdbcType="VARCHAR" />
    <result column="RETURN_REASON" property="returnReason" jdbcType="VARCHAR" />
    <result column="RETURN_REMARK" property="returnRemark" jdbcType="VARCHAR" />
    <result column="RETURN_QUANTITY" property="returnQuantity" jdbcType="DECIMAL" />
    <result column="RETURN_STATUS" property="returnStatus" jdbcType="VARCHAR" />
    <result column="CREATE_USER_ID" property="createUserId" jdbcType="VARCHAR" />
    <result column="CREATE_USER_NAME" property="createUserName" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_NAME" property="modifyUserName" jdbcType="VARCHAR" />
    <result column="MODIFY_DATE" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    <result column="GROUP_ID" property="groupId" jdbcType="VARCHAR" />
    <result column="BOOK_ID" property="bookId" jdbcType="VARCHAR" />
    <result column="EXT_COL1" property="extCol1" jdbcType="VARCHAR" />
    <result column="EXT_COL2" property="extCol2" jdbcType="VARCHAR" />
    <result column="EXT_COL3" property="extCol3" jdbcType="VARCHAR" />
    <result column="EXT_COL4" property="extCol4" jdbcType="VARCHAR" />
    <result column="EXT_COL5" property="extCol5" jdbcType="VARCHAR" />
    <result column="EXT_COL6" property="extCol6" jdbcType="VARCHAR" />
    <result column="EXT_COL7" property="extCol7" jdbcType="VARCHAR" />
    <result column="EXT_COL8" property="extCol8" jdbcType="VARCHAR" />
    <result column="EXT_COL9" property="extCol9" jdbcType="VARCHAR" />
    <result column="EXT_COL10" property="extCol10" jdbcType="VARCHAR" />
    <result column="EXT_COL11" property="extCol11" jdbcType="VARCHAR" />
    <result column="EXT_COL12" property="extCol12" jdbcType="VARCHAR" />
    <result column="EXT_COL13" property="extCol13" jdbcType="VARCHAR" />
    <result column="EXT_COL14" property="extCol14" jdbcType="VARCHAR" />
    <result column="EXT_COL15" property="extCol15" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    DELIVERY_RETURN_ID, DELIVERY_RETURNT_CODE, DELIVERY_LINE_ID, DELIVERY_HEAD_ID, RETURN_TYPE, 
    RETURN_REASON, RETURN_REMARK, RETURN_QUANTITY, RETURN_STATUS, CREATE_USER_ID, CREATE_USER_NAME, 
    CREATE_DATE, MODIFY_USER_ID, MODIFY_USER_NAME, MODIFY_DATE, ORG_ID, GROUP_ID, BOOK_ID, 
    EXT_COL1, EXT_COL2, EXT_COL3, EXT_COL4, EXT_COL5, EXT_COL6, EXT_COL7, EXT_COL8, EXT_COL9, 
    EXT_COL10, EXT_COL11, EXT_COL12, EXT_COL13, EXT_COL14, EXT_COL15
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tms_delivery_return
    where DELIVERY_RETURN_ID = #{deliveryReturnId,jdbcType=CHAR}
  </select>

</mapper>