<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vandream.mall.business.dao.purchase.PurchaseSettlementHeadDAO" >
  <resultMap id="BaseResultMap" type="com.vandream.mall.business.dto.purchase.PurchaseSettlementHeadDTO" >
    <id column="PURCHASE_SETTLEMENT_HEAD_ID" property="purchaseSettlementHeadId" jdbcType="CHAR" />
    <result column="PURCHASE_SETTLEMENT_CODE" property="purchaseSettlementCode" jdbcType="VARCHAR" />
    <result column="INVOICE_TYPE" property="invoiceType" jdbcType="VARCHAR" />
    <result column="INVOICE_CODE" property="invoiceCode" jdbcType="VARCHAR" />
    <result column="INVOICE_NO" property="invoiceNo" jdbcType="VARCHAR" />
    <result column="SETTLEMENT_DATE" property="settlementDate" jdbcType="TIMESTAMP" />
    <result column="SETTLEMENT_STATUS" property="settlementStatus" jdbcType="VARCHAR" />
    <result column="VOUCHER_DATE" property="voucherDate" jdbcType="TIMESTAMP" />
    <result column="VOUCHER_STATUS" property="voucherStatus" jdbcType="VARCHAR" />
    <result column="SUPPLIER_COMPANY_ID" property="supplierCompanyId" jdbcType="VARCHAR" />
    <result column="SUPPLIER_ID" property="supplierId" jdbcType="VARCHAR" />
    <result column="SUPPLIER_CODE" property="supplierCode" jdbcType="VARCHAR" />
    <result column="SUPPLIER_NAME" property="supplierName" jdbcType="VARCHAR" />
    <result column="SUPPLIER_TAX" property="supplierTax" jdbcType="VARCHAR" />
    <result column="SUPPLIER_BANK_CODE" property="supplierBankCode" jdbcType="VARCHAR" />
    <result column="SUPPLIER_BANK_NO" property="supplierBankNo" jdbcType="VARCHAR" />
    <result column="SUPPLIER_BANK_NAME" property="supplierBankName" jdbcType="VARCHAR" />
    <result column="SUPPLIER_SITE_ID" property="supplierSiteId" jdbcType="VARCHAR" />
    <result column="SUPPLIER_SITE" property="supplierSite" jdbcType="VARCHAR" />
    <result column="CURRENCY_CODE" property="currencyCode" jdbcType="VARCHAR" />
    <result column="NO_TAX_AMOUNT" property="noTaxAmount" jdbcType="DECIMAL" />
    <result column="TAX_AMOUNT" property="taxAmount" jdbcType="DECIMAL" />
    <result column="TOTAL_AMOUNT" property="totalAmount" jdbcType="DECIMAL" />
    <result column="SETTLEMENT_REMARK" property="settlementRemark" jdbcType="VARCHAR" />
    <result column="FROM_TYPE" property="fromType" jdbcType="VARCHAR" />
    <result column="FROM_ID" property="fromId" jdbcType="VARCHAR" />
    <result column="FROM_CODE" property="fromCode" jdbcType="VARCHAR" />
    <result column="STAFF_ID" property="staffId" jdbcType="VARCHAR" />
    <result column="STAFF_CODE" property="staffCode" jdbcType="VARCHAR" />
    <result column="STAFF_NAME" property="staffName" jdbcType="VARCHAR" />
    <result column="DEPARTMENT_ID" property="departmentId" jdbcType="VARCHAR" />
    <result column="DEPARTMENT_CODE" property="departmentCode" jdbcType="VARCHAR" />
    <result column="DEPARTMENT_NAME" property="departmentName" jdbcType="VARCHAR" />
    <result column="CREATE_USER_ID" property="createUserId" jdbcType="VARCHAR" />
    <result column="CREATE_USER_NAME" property="createUserName" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_NAME" property="modifyUserName" jdbcType="VARCHAR" />
    <result column="MODIFY_DATE" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    <result column="GROUP_ID" property="groupId" jdbcType="VARCHAR" />
    <result column="BOOK_ID" property="bookId" jdbcType="VARCHAR" />
    <result column="EXT_COL1" property="extCol1" jdbcType="VARCHAR" />
    <result column="EXT_COL2" property="extCol2" jdbcType="VARCHAR" />
    <result column="EXT_COL3" property="extCol3" jdbcType="VARCHAR" />
    <result column="EXT_COL4" property="extCol4" jdbcType="VARCHAR" />
    <result column="EXT_COL5" property="extCol5" jdbcType="VARCHAR" />
    <result column="EXT_COL6" property="extCol6" jdbcType="VARCHAR" />
    <result column="EXT_COL7" property="extCol7" jdbcType="VARCHAR" />
    <result column="EXT_COL8" property="extCol8" jdbcType="VARCHAR" />
    <result column="EXT_COL9" property="extCol9" jdbcType="VARCHAR" />
    <result column="EXT_COL10" property="extCol10" jdbcType="VARCHAR" />
    <result column="EXT_COL11" property="extCol11" jdbcType="VARCHAR" />
    <result column="EXT_COL12" property="extCol12" jdbcType="VARCHAR" />
    <result column="EXT_COL13" property="extCol13" jdbcType="VARCHAR" />
    <result column="EXT_COL14" property="extCol14" jdbcType="VARCHAR" />
    <result column="EXT_COL15" property="extCol15" jdbcType="VARCHAR" />
    <result column="EXT_COL16" property="extCol16" jdbcType="VARCHAR" />
    <result column="EXT_COL17" property="extCol17" jdbcType="VARCHAR" />
    <result column="EXT_COL18" property="extCol18" jdbcType="VARCHAR" />
    <result column="EXT_COL19" property="extCol19" jdbcType="VARCHAR" />
    <result column="EXT_COL20" property="extCol20" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PURCHASE_SETTLEMENT_HEAD_ID, PURCHASE_SETTLEMENT_CODE, INVOICE_TYPE, INVOICE_CODE, 
    INVOICE_NO, SETTLEMENT_DATE, SETTLEMENT_STATUS, VOUCHER_DATE, VOUCHER_STATUS, SUPPLIER_COMPANY_ID, 
    SUPPLIER_ID, SUPPLIER_CODE, SUPPLIER_NAME, SUPPLIER_TAX, SUPPLIER_BANK_CODE, SUPPLIER_BANK_NO, 
    SUPPLIER_BANK_NAME, SUPPLIER_SITE_ID, SUPPLIER_SITE, CURRENCY_CODE, NO_TAX_AMOUNT, 
    TAX_AMOUNT, TOTAL_AMOUNT, SETTLEMENT_REMARK, FROM_TYPE, FROM_ID, FROM_CODE, STAFF_ID, 
    STAFF_CODE, STAFF_NAME, DEPARTMENT_ID, DEPARTMENT_CODE, DEPARTMENT_NAME, CREATE_USER_ID, 
    CREATE_USER_NAME, CREATE_DATE, MODIFY_USER_ID, MODIFY_USER_NAME, MODIFY_DATE, ORG_ID, 
    GROUP_ID, BOOK_ID, EXT_COL1, EXT_COL2, EXT_COL3, EXT_COL4, EXT_COL5, EXT_COL6, EXT_COL7, 
    EXT_COL8, EXT_COL9, EXT_COL10, EXT_COL11, EXT_COL12, EXT_COL13, EXT_COL14, EXT_COL15, 
    EXT_COL16, EXT_COL17, EXT_COL18, EXT_COL19, EXT_COL20
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from pom_purchase_settlement_head
    where PURCHASE_SETTLEMENT_HEAD_ID = #{purchaseSettlementHeadId,jdbcType=CHAR}
  </select>

</mapper>