<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vandream.mall.business.dao.SolutionHeadDAO">
    <resultMap id="BaseResultMap" type="com.vandream.mall.business.dto.solution.SolutionHeadDTO">
        <id column="SOLUTION_ID" property="solutionId" jdbcType="CHAR"/>
        <id column="DEMAND_ID" property="demandId" jdbcType="CHAR"/>
        <result column="SOLUTION_CODE" property="solutionCode" jdbcType="VARCHAR"/>
        <result column="CATEGORY_ID" property="categoryId" jdbcType="CHAR"/>
        <result column="CATEGORY_CODE" property="categoryCode" jdbcType="VARCHAR"/>
        <result column="CATEGORY_NAME" property="categoryName" jdbcType="VARCHAR"/>
        <result column="SOLUTION_SUPPLIER_STATUS" property="solutionStatus" jdbcType="VARCHAR"/>
       <!-- <result column="SOLUTION_STATUS" property="solutionStatus" jdbcType="VARCHAR"/>-->
        <result column="PURCHASE_MANAGER_ID" property="purchaseManagerId" jdbcType="VARCHAR"/>
        <result column="CUSTOMER_PLAN_OUTLINE" property="customerPlanOutline" jdbcType="VARCHAR"/>
        <result column="CUSTOMER_PLAN_DETAIL" property="customerPlanDetail" jdbcType="VARCHAR"/>
        <result column="DELIVERY_PERIOD_START" property="deliveryPeriodStart" jdbcType="VARCHAR"
                typeHandler="com.vandream.mall.commons.utils.handler.LongTypeHandler"/>
        <result column="DELIVERY_PERIOD_END" property="deliveryPeriodEnd" jdbcType="VARCHAR"
                typeHandler="com.vandream.mall.commons.utils.handler.LongTypeHandler"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="FROM_TYPE" property="fromType" jdbcType="VARCHAR"/>
        <result column="FROM_ID" property="fromId" jdbcType="VARCHAR"/>
        <result column="FROM_CODE" property="fromCode" jdbcType="VARCHAR"/>
        <result column="CREATE_USER_ID" property="createUserId" jdbcType="CHAR"/>
        <result column="CREATE_USER_NAME" property="createUserName" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"
                typeHandler="com.vandream.mall.commons.utils.handler.LongTypeHandler"/>
        <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="CHAR"/>
        <result column="MODIFY_USER_NAME" property="modifyUserName" jdbcType="VARCHAR"/>
        <result column="MODIFY_DATE" property="modifyDate" jdbcType="TIMESTAMP"
                typeHandler="com.vandream.mall.commons.utils.handler.LongTypeHandler"/>
        <result column="ORG_ID" property="orgId" jdbcType="CHAR"/>
        <result column="BOOK_ID" property="bookId" jdbcType="CHAR"/>
        <result column="GROUP_ID" property="groupId" jdbcType="CHAR"/>
        <result column="EXT_COL1" property="extCol1" jdbcType="VARCHAR"/>
        <result column="EXT_COL2" property="extCol2" jdbcType="VARCHAR"/>
        <result column="EXT_COL3" property="extCol3" jdbcType="VARCHAR"/>
        <result column="EXT_COL4" property="extCol4" jdbcType="VARCHAR"/>
        <result column="EXT_COL5" property="extCol5" jdbcType="VARCHAR"/>
        <result column="EXT_COL6" property="extCol6" jdbcType="VARCHAR"/>
        <result column="EXT_COL7" property="extCol7" jdbcType="VARCHAR"/>
        <result column="EXT_COL8" property="extCol8" jdbcType="VARCHAR"/>
        <result column="EXT_COL9" property="extCol9" jdbcType="VARCHAR"/>
        <result column="EXT_COL10" property="extCol10" jdbcType="VARCHAR"/>

        <result column="SOLUTION_SUPPLIER_ID" property="solutionSupplierId"/>
        <result column="SUPPLIER_CONTACTS" property="supplierContacts"/>
        <result column="SUPPLIER_PHONE" property="supplierPhone"/>
        <result column="SUPPLIER_TIME" property="supplierTime"
                typeHandler="com.vandream.mall.commons.utils.handler.LongTypeHandler"/>
    </resultMap>
    <resultMap id="resultSolutionList"
               type="com.vandream.mall.business.dto.demand.DemandSolutionDTO">
        <id column="SOLUTION_ID" property="solutionId" jdbcType="CHAR"/>
        <result column="DEMAND_ID" property="demandId" jdbcType="CHAR"/>
        <result column="CATEGORY_NAME" property="categoryName" jdbcType="VARCHAR"/>
        <result column="CUSTOMER_PLAN_OUTLINE" property="customerPlanOutline" jdbcType="VARCHAR"/>
        <result column="SOLUTION_STATUS" property="solutionStatus" jdbcType="VARCHAR"/>
        <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR"/>
        <result column="FILE_PATH" property="filePath" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"
                typeHandler="com.vandream.mall.commons.utils.handler.LongTypeHandler"/>
        <result column="SOLUTION_STATUS" property="solutionStatus" jdbcType="VARCHAR"/>
        <result column="ATTACHMENT_ID" property="attachmentId"/>
        <!--<association property="attachmentDTO" column="SOLUTION_ID" select="com.vandream.mall.business.dao.AttachmentDAO.selectByBillNO" />-->
    </resultMap>
    <resultMap id="SolutionListResultMap"
               type="com.vandream.mall.business.dto.solution.SolutionHeadDTO">
        <id column="SOLUTION_ID" property="solutionId" jdbcType="CHAR"/>
        <id column="DEMAND_ID" property="demandId" jdbcType="CHAR"/>
        <result column="SOLUTION_CODE" property="solutionCode" jdbcType="VARCHAR"/>
        <result column="CATEGORY_ID" property="categoryId" jdbcType="CHAR"/>
        <result column="CATEGORY_CODE" property="categoryCode" jdbcType="VARCHAR"/>
        <result column="CATEGORY_NAME" property="categoryName" jdbcType="VARCHAR"/>
        <result column="SOLUTION_SUPPLIER_STATUS" property="solutionStatus" jdbcType="VARCHAR"/>
        <result column="PURCHASE_MANAGER_ID" property="purchaseManagerId" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"
                typeHandler="com.vandream.mall.commons.utils.handler.LongTypeHandler"/>

        <result column="SOLUTION_SUPPLIER_ID" property="solutionSupplierId"/>
        <result column="SUPPLIER_CONTACTS" property="supplierContacts"/>
        <result column="SUPPLIER_PHONE" property="supplierPhone"/>
        <result column="SUPPLIER_TIME" property="supplierTime"
                typeHandler="com.vandream.mall.commons.utils.handler.LongTypeHandler"/>

    </resultMap>
    <sql id="Base_Column_List">
    SOLUTION_ID, DEMAND_ID, SOLUTION_CODE, CATEGORY_ID, CATEGORY_CODE, CATEGORY_NAME, 
    SOLUTION_STATUS, PURCHASE_MANAGER_ID, CUSTOMER_PLAN_OUTLINE, CUSTOMER_PLAN_DETAIL,
    REMARK, FROM_TYPE, FROM_ID, FROM_CODE, CREATE_USER_ID, CREATE_USER_NAME, CREATE_DATE, 
    MODIFY_USER_ID, MODIFY_USER_NAME, MODIFY_DATE, ORG_ID, BOOK_ID, GROUP_ID, EXT_COL1, 
    EXT_COL2, EXT_COL3, EXT_COL4, EXT_COL5, EXT_COL6, EXT_COL7, EXT_COL8, EXT_COL9, EXT_COL10
  </sql>

    <sql id="Column_Solution_Info">
        h.SOLUTION_ID,
        h.DEMAND_ID,h.SOLUTION_CODE,h.CATEGORY_ID,h.CATEGORY_NAME,h.SOLUTION_STATUS,
        h.PURCHASE_MANAGER_ID,h.REMARK,h.DELIVERY_PERIOD_START,
        h.DELIVERY_PERIOD_END,s.CREATE_DATE,s.SUPPLIER_CONTACTS,s.SUPPLIER_PHONE,s.SUPPLIER_TIME
    </sql>
    <sql id="Column_Solution_List">
        h.SOLUTION_ID,
        h.DEMAND_ID,h.SOLUTION_CODE,h.CATEGORY_ID,h.CATEGORY_NAME,h.SOLUTION_STATUS,h.PURCHASE_MANAGER_ID,s.CREATE_DATE,s.SOLUTION_SUPPLIER_ID
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="string">
        select
        h.SOLUTION_ID,  h.DEMAND_ID,  h.SOLUTION_CODE,  h.CATEGORY_ID,  h.CATEGORY_CODE,  h.CATEGORY_NAME,
        s.SOLUTION_SUPPLIER_STATUS, h.PURCHASE_MANAGER_ID, h.CUSTOMER_PLAN_OUTLINE, h.CUSTOMER_PLAN_DETAIL,
        h.REMARK, h.FROM_TYPE, h.FROM_ID, h.FROM_CODE, h.CREATE_USER_ID, h.CREATE_USER_NAME, h.CREATE_DATE,
        h.MODIFY_USER_ID, h.MODIFY_USER_NAME, h.MODIFY_DATE, h.ORG_ID, h.BOOK_ID, h.GROUP_ID, h.EXT_COL1,
        h.EXT_COL2, h.EXT_COL3, h.EXT_COL4, h.EXT_COL5, h.EXT_COL6, h.EXT_COL7, h.EXT_COL8, h.EXT_COL9, h.EXT_COL10
        from  psd_solution_supplier s INNER JOIN psd_solution_head h  ON
        h.SOLUTION_ID=s.SOLUTION_ID
        where s.SOLUTION_ID = #{solutionId}
    </select>
    <select id="selectBySolutionId" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Column_Solution_Info"/>
        from psd_solution_head h INNER JOIN psd_solution_supplier s ON
        h.SOLUTION_ID=s.SOLUTION_ID
        where h.SOLUTION_ID = #{solutionId} and s.SUPPLIER_ID =#{supplierId}
        GROUP BY h.SOLUTION_ID
    </select>
    <select id="selectBySupplierSolutionId"  resultMap="BaseResultMap" parameterType="java.util.Map">
      select
        h.SOLUTION_ID,
        h.DEMAND_ID,h.SOLUTION_CODE,h.CATEGORY_ID,h.CATEGORY_NAME,
        h.PURCHASE_MANAGER_ID,h.REMARK,h.DELIVERY_PERIOD_START,
        h.DELIVERY_PERIOD_END,s.CREATE_DATE,s.SUPPLIER_CONTACTS,s.SUPPLIER_PHONE,s.SUPPLIER_TIME,
        s.SOLUTION_SUPPLIER_STATUS
        FROM  psd_solution_supplier s INNER JOIN psd_solution_head h  ON
        h.SOLUTION_ID=s.SOLUTION_ID
        where s.SOLUTION_SUPPLIER_ID = #{solutionSupplierId} and s.SUPPLIER_ID =#{supplierId}
        GROUP BY s.SOLUTION_SUPPLIER_ID
    </select>
    <select id="findSolutionList" resultMap="SolutionListResultMap" parameterType="java.util.Map">
        select
        <include refid="Column_Solution_List"/>
        FROM psd_solution_head h INNER JOIN psd_solution_supplier s ON
        h.SOLUTION_ID=s.SOLUTION_ID
        LEFT JOIN
        psd_solution_demand d ON
        h.SOLUTION_ID=d.SOLUTION_ID
        <if test="status=='35'">
            INNER JOIN aus_at_attachment_list att ON s.SOLUTION_SUPPLIER_ID=att.BILL_NO
        </if>
        <where>
            s.SUPPLIER_ID=#{supplierId}
            AND h.SOLUTION_STATUS NOT IN('10','15','20')
            <if test="status!=null and status!=''">
                <if test="status=='30'">
                    AND h.SOLUTION_STATUS = '30'
                </if>
                <if test="status=='35'">
                    AND h.SOLUTION_STATUS = '30'
                </if>
                <if test="status=='40'">
                    AND h.SOLUTION_STATUS >='40'
                </if>
            </if>
            <if test="keyword!=null and keyword!=''">
                AND
                (h.SOLUTION_CODE LIKE CONCAT('%',#{keyword},'%') OR
                h.CATEGORY_NAME LIKE CONCAT('%',#{keyword},'%') OR
                d.ITEM_NAME LIKE CONCAT('%',#{keyword},'%'))
            </if>
            <if test="dispatchStartDate!=null and dispatchStartDate!=''">
                <![CDATA[ AND
                h.DELIVERY_PERIOD_START <=
                #{dispatchStartDate,typeHandler=com.vandream.mall.commons.utils.handler.LongTypeHandler}
                ]]>
            </if>
            <if test="dispatchEndDate!=null and dispatchEndDate!=''">
                <![CDATA[ AND
                h.DELIVERY_PERIOD_END >=
                #{dispatchEndDate,typeHandler=com.vandream.mall.commons.utils.handler.LongTypeHandler}
                ]]>
            </if>
            GROUP BY h.SOLUTION_ID
        </where>
        order by s.CREATE_DATE DESC

    </select>
    <select id="findSolutionSupplierList" parameterType="java.util.HashMap" resultMap="SolutionListResultMap">
        SELECT
          h.SOLUTION_ID,
          h.DEMAND_ID,
          h.SOLUTION_CODE,
          h.CATEGORY_ID,
          h.CATEGORY_NAME,
          h.PURCHASE_MANAGER_ID,
          ds.SOLUTION_SUPPLIER_STATUS,
          ds.CREATE_DATE,
          ds.SOLUTION_SUPPLIER_ID
        FROM
          psd_solution_supplier ds
          INNER JOIN psd_solution_head h ON h.`SOLUTION_ID`=ds.`SOLUTION_ID`
          LEFT JOIN psd_solution_demand pd ON pd.`SOLUTION_ID`=ds.`SOLUTION_ID`
        <where>
                ds.SUPPLIER_ID=#{supplierId}
              <if test="status!=null and status!=''">
                  <if test="status=='10'">
                      AND ds.SOLUTION_SUPPLIER_STATUS in ('10','25')
                  </if>
                  <if test="status!='10'">
                      AND ds.SOLUTION_SUPPLIER_STATUS =#{status}
                  </if>
              </if>
              <if test="keyword!=null and keyword!=''">
                  AND
                  (h.SOLUTION_CODE LIKE CONCAT('%',#{keyword},'%') OR
                  h.CATEGORY_NAME LIKE CONCAT('%',#{keyword},'%') OR
                  pd.ITEM_NAME LIKE CONCAT('%',#{keyword},'%'))
              </if>
              <if test="dispatchStartDate!=null and dispatchStartDate!=''">
                  <![CDATA[ AND
                h.CREATE_DATE >=
                #{dispatchStartDate,typeHandler=com.vandream.mall.commons.utils.handler.LongTypeHandler}
                ]]>
              </if>
              <if test="dispatchEndDate!=null and dispatchEndDate!=''">
                  <![CDATA[ AND
                h.CREATE_DATE <
                #{dispatchEndDate,typeHandler=com.vandream.mall.commons.utils.handler.LongTypeHandler}
                ]]>
              </if>
              GROUP BY ds.`SOLUTION_SUPPLIER_ID`
          </where>
        order by ds.CREATE_DATE DESC
    </select>

    <select id="getDemandSolutionList" resultMap="resultSolutionList"
            parameterType="java.lang.String">
     SELECT * FROM(SELECT
	  ps.`SOLUTION_SUPPLIER_ID`,
      sh.`DEMAND_ID` as "DEMAND_ID",
      sh.`SOLUTION_ID` as "SOLUTION_ID",
      sh.`CATEGORY_NAME`  as "CATEGORY_NAME",
      sh.CUSTOMER_PLAN_OUTLINE  as "CUSTOMER_PLAN_OUTLINE",
      sh.SOLUTION_STATUS  as "SOLUTION_STATUS",
      al.`FILE_NAME`  as "FILE_NAME",
      al.`FILE_PATH`  as "FILE_PATH",
      al.CREATE_DATE  as "CREATE_DATE",
      al.`ATTACHMENT_ID`
    FROM psd_solution_supplier ps
	LEFT JOIN  psd_solution_head sh
	 ON sh.`SOLUTION_ID` =ps.`SOLUTION_ID`
    LEFT JOIN aus_at_attachment_list al
    ON sh.`SOLUTION_ID` = al.`BILL_NO`
        WHERE sh.`SOLUTION_STATUS`>=40 AND 90>=sh.`SOLUTION_STATUS` AND  al.BUSINESS_TYPE='psdSolutionCustomer' and
        al.ATTACHMENT_TYPE='psdSolutionCustomerFile' and al.FILE_STATUS='40'
        and sh.DEMAND_ID = #{demandId}
    ORDER BY ps.`CREATE_DATE` DESC
    ) ph
    GROUP BY ph.`SOLUTION_ID`
     ORDER BY ph.`CREATE_DATE` DESC
    </select>
</mapper>